doctype html
html
  head
    title= title
    
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/perfectum/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/perfectum/assets/css/font-awesome.min.css')
    link(rel='stylesheet', href='/lib/perfectum/assets/css/style.min.css')

  body
    block content
    script(src='socket.io/socket.io.js')
    script(src='/lib/perfectum/assets/js/jquery-2.0.3.min.js')
    script(src='/javascripts/login.js')